body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(48, 18%, 83%);
}

.example {
    padding: 3rem;
    max-width: 1200px;
    display: flex;
    gap: clamp(2rem, 8vw, 4rem);

}

button {
    background: transparent;
    border: 10px solid var(--button-color, #000);
    border-radius: 1rem;

}

.button-one {
    --button-color: rgb(150, 192, 32);

}

.button-one .line {
    transition:
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;

}

.button-one:hover .line {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;


}

.button-one:hover :is(.top, .bottom) {
    y: 45px;
}

.button-one:hover .top {
    rotate: 45deg;
}

.button-one:hover .middle {
    opacity: 0;
}

.button-one:hover .bottom {
    rotate: -45deg;
}



/* button two style */


.button-two {
    --button-color: rgb(150, 192, 32);
    overflow: hidden;
}

.button-two .hamburger {
    transition: translate 1s, rotate 1s;
}

.button-two[aria-expanded="true"] .hamburger {
    translate: 10px -10px;
    rotate: .125turn;
}

.button-two .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.button-two[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}